@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    @using WebFrontEnd.Models;
   @model IEnumerable<AdminCentreName>;
  


<div class="admin-user" id="admin-user">
    <fieldset>
        <label>Admin or User</label>
        <button id="admin" onclick="ShowLogin()">Admin</button>
        <button id="user" onclick="ShowUser()">User</button>
    </fieldset>
</div>
<script>

function ShowLogin()
{
    document.getElementById('LoginForm').hidden = false;
   
}

function ShowUser()
{
    document.getElementById('UserOptions').hidden = false;
}

</script>

<div id="LoginForm" hidden>
   
    <form id="loginForm" action="">
        <fieldset>
  	        <label>Enter Username</label>
	        <input type="text" name="name" placeholder="Enter your Username"/>
  	        <label>Password</label>
	        <input type="password" name="password" placeholder="Enter your Password"/>
  	        <button id="login" onclick="Login()">Login</button>
        </fieldset>
    </form>
       
</div>

<script>

function Login() {
    //var name = document.loginForm.name.value;
    //var password = document.loginForm.password.value;
      
    document.getElementById('AdminOptions').hidden = false;
    //if ((name).equals('admin') && (password).equals('adminpass')) {
        
      //  document.getElementById('AdminOptions').hidden = false;
        //alert("Login Successful");
    //}
    //else { 
      //  alert("Login Unsuccessful");
    //}
    //this doesn't like me//
}

</script>

<div class="AdminOptions" id="AdminOptions" hidden>
    <fieldset>
        <label>Choose Option</label>
        <button id="allCentres" onclick="ShowAllCentres()">All Centres</button>
        <button id="addCentre" onclick="AddCentre()">Add Centre</button>
        <button id="chooseCentre" onclick="ChooseCentre()">ChooseCentre</button>
    </fieldset>
</div>

<script>

function ShowAllCentres() {
document.getElementById('AllCentres').hidden = false;
}

function AddCentre() {
    document.getElementById('AddCentre').hidden = false;
}

</script>

<div class="AddCentre" id="AddCentre" hidden>
<form id = "addCentreName" action="" method="post">
    <fieldset>
        <label>Enter Centre Name</label>
        <input type="text" id = "AdminCentreName" name=" CentreName" placeholder="Enter name of Centre"/>
        <input type="text" id ="AdminId" name=" Id" placeholder="Enter ID"/>
        <button id="insert" onclick="InsertCentre()">Insert</button>
    </fieldset>
</form>
</div>
   
<script>
        
function InsertCentre()

 { 
        $.ajax({
            type: 'POST',
            url: '/home/insertCentre/',
            contentType: 'application/json',
            data: JSON.stringify(
            {
                "Id" :$('#Id').val(),
                "centreName": $('#CentreName').val(),
                
                
            }),
            success: function(data, textStatus, jQxhr)
            {
                alert("Centre Name Inserted");
            },
            error: function(xhr, textStatus, error)
            {
                alert("Error");
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
 }

</script>

<div id="AllCentres" hidden>
    <h1>Select Centre to View Bookings</h1>   
   <select id="centreList">     
    @foreach(var adminCentreName in Model)
    {
    <option value="@adminCentreName.centreName" selected >@adminCentreName.centreName</option>
    }
   </select>    
   <button id="ShowBooking" onclick="ShowBookings()">Show Bookings</button> 
</div>

<script>

function ShowBooking() {
    var search = document.querySelector('#centreList');//is this correct?
    //feed back into search function to pass back and query database
    $.ajax({
        type: 'POST',
        url: '/home/AdminSearch/',
        contentType: 'application/json',
        data: JSON.stringify(
            {
                "search": $(search)

            }
            //how do I display the result

}

</script>
 

<div id="UserOptions" hidden>

    <fieldset>
        <label>Choose User Option</label>
        <button id="allCentres" onclick="UserShowAllCentres()">All Centres</button>
        <input type="text" id ="UserSearch" name="UserSearch" placeholder="Enter Search"/>
        <button id="searchCentre" onclick="SearchCentre()">Search Centres</button>
        <button id="CreateBooking" onclick="CreateBooking()">Create Booking</button>
    </fieldset>

</div>



<script>

function CreateBooking() {
            $.ajax({
                type: 'POST',
                url: '/home/createBooking/',
                contentType: 'application/json',
                data: JSON.stringify(
                    {
                        "Id": $('#Id').val(),
                        "bookingCentreName": $('#CentreName').val(),
                        "userName": $('#userName'),
                        "startDate": $('#startDate'),
                        "endDate": $('#endDate'),
                        "description": $('#description'),

                    }),
                success: function(data, textStatus, jQxhr) {
                    alert("Booking Created");
                },
                error: function(xhr, textStatus, error) {
                    alert("Error");
                    console.log(xhr.statusText);
                    console.log(textStatus);
                    console.log(error);
                }
            });
        }

function SearchCentre() {
     
    var search = document.querySelector('#centreList');//is this correct?
    $.ajax({
            type: 'POST',
            url: '/home/UserSearch/',
            contentType: 'application/json',
            data: JSON.stringify(
            {
                "search" :$(UserSearch)

            }
            //how do I display the result (Date Time Element)
}


</script>
