<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/site.css">
       
    </head>
<body>
          
   
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
        <p> Developed by Benjamin Warger</p>
    </div>
     <script src="~/js/site.js"></script>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>
